<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <link rel="stylesheet" href="../static/css/addBlog.css">
</head>
<body>
    <h1>New Post!</h1>
    <div class = "new_blog">
        <p><b>Title</b></p>
        <textarea class = "blogInfo" id="title" name="title"></textarea>
        <p><b>Blog</b></p>
        <textarea class = "blogInfo" id="info" name="info"></textarea>
        <p><b>Author</b></p>
        <textarea class = "blogInfo" id="author" name="author"></textarea>
    </div>
</body>
</html>